#one {
  color: red;
  background-color: black;
  border: 2px solid black;
  font-style: italic;
}

#two {
  color: yellow;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#three {
  color: rgb(216, 83, 12);
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#four {
  color: red;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#five {
  color: orange;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}