#one {
  color: red;
  background-color: black;
  border: 2px solid black;
  font-style: italic;
}

#two {
  color: pink;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#three {
  color: rgb(216, 83, 12);
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#four {
  color: red;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

#five {
  color: orange;
  background-color: black;
  border: 2px, solid black;
  font-style: italic;
}

.first {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border: 5px solid black;
}

.Second {
  height: 25px;
  width: 25px;
  background-color: red;
  border: 2px solid black;
}